@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu';
}


.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }

  .card h2 {
    margin-top: 0;
  }

  img{
    max-width: 200px;
    max-height: 200px;
  }
  #dados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  .cardFull{
    padding: 20px;
    display: flex;
    flex-direction: column;
    
  }
  .imgFull{
    max-width: 400px;
    max-height: 400px;
  }
  button{
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    padding: 12px;

  }
  .line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  .star-style{
    color: #1E90FF;
    
  }